<div class="pl-20 pr-20">
    <h1 class="fs-24">gridApi</h1>

    <section class="lh-20px mt-40 pl-20">
        <h3 class="fs-18 mb-10">validate-元素</h3>
        <p>validate                     ---String               ---- 校验规则</p>
        <p>validate-type                ---String               ---- 校验类型</p>
        <p>equal-to                     ---String               ---- 两端绑定-校验密码是否同,绑定的是id</p>
    </section>

    <section class="lh-20px mt-40 pl-20">
        <h3 class="fs-18 mb-10">form-submit-提交</h3>
    </section>

    <div class="mt-20 fs-14">
        使用angular.validateAddMethod方法注入
    </div>
</div>
