<div class="pl-20 pr-20">
    <h1 class="fs-24 mb-10 mt-20">校验时间</h1>
    <input type="text" class="w-35 ipt pl-5" timepicker
           ng-model="orderStartTimeStr" max-date="orderEndTimeStr">
    <span>&nbsp;-&nbsp;</span>
    <input type="text" class="w-35 ipt pl-5" timepicker
           ng-model="orderEndTimeStr" min-date="orderStartTimeStr">

    <h1 class="fs-24 mb-10 mt-20">参数</h1>
    <input type="text" class="w-35 ipt pl-5" timepicker datetimepicker-opt="datetimepickerOpt">

    <a class="fs-18 d-b mt-20" target="_blank" href="http://xdsoft.net/jqplugins/datetimepicker/">更多demo</a>
</div>
