<div class="pl-20 pr-20">
    <h1 class="fs-24">datetimepickerApi</h1>

    <section class="lh-20px mt-40 pl-20">
        <h3 class="fs-18 mb-10">timepicker-元素</h3>
        <p>min-date                     ---String               ---- 最小时间,可以为false或者true或者另外元素的ng-model</p>
        <p>max-date                     ---String               ---- 最大时间,可以为false或者true或者另外元素的ng-model</p>
        <p>datetimepicker-opt           ---object               ---- 更多参数</p>
    </section>

    <section class="lh-20px mt-40 pl-20">
        <h3 class="fs-18 mb-10">datetimepicker-opt</h3>
        <p>datepicker                   ---Boolean              ---- 是否显示时分</p>
        <p>format                       ---String               ---- 设置时间格式d.m.Y H:i</p>
        <p>inline                       ---Boolean              ---- 是否一开始就显示</p>
        <p>timepicker                   ---Boolean              ---- 是否只显示日期</p>
        <p>onShowCallback               ---FN                   ---- 显示的回调</p>
    </section>

    <a class="fs-18 d-b mt-20" target="_blank" href="http://xdsoft.net/jqplugins/datetimepicker/">更多demo</a>
</div>
